<div class="row mt-5">
    <div class="col-12 mt-5">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8">
                        <h4 class="text-primary">
                            Gestão de caixa
                        </h4>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2">
                        <button class="btn btn-warning btn-block btn-money">
                            <i class="fa-solid fa-money-bill-1"></i> Fechar Caixa
                        </button>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2">
                        <button class="btn btn-primary btn-block btn-new">
                            <i class="fa-solid fa-circle-plus"></i> Adicionar
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="table-caixa">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">DATA</th>
                                <th scope="col" class="text-center">DESCRIÇÃO</th>
                                <th scope="col" class="text-center">TIPO</th>
                                <th scope="col" class="text-center">VALOR</th>
                                <th scope="col" class="text-center">AÇÕES</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para carregar o formulário -->

<div id="modal-caixa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Title</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Content</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-save"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                <button class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="src/caixa/controller/new-caixa.js"></script>
<script src="src/caixa/controller/list-caixa.js"></script>
<script src="src/caixa/controller/save-caixa.js"></script>
<script src="src/caixa/controller/view-caixa.js"></script>
<script src="src/caixa/controller/edit-caixa.js"></script>
<script src="src/caixa/controller/delete-caixa.js"></script>
<script src="src/caixa/controller/close-caixa.js"></script>